<div class="kontakt">
	<h1>Kontakt</h1>
	<p>Kontakt konferencija je vodeća muzička konferencija u Srbiji koja se održava svakog marta u Beogradu od 2017. godine, okupljajući profesionalce iz kreativnih industrija, muzičkog biznisa i regionalnih festivala. Događaj objedinjuje panele, koncerte i umrežavanje, a finalni događaji često uključuju i poznate izvođače u prostorima kao što su Elektropionir i Luci Beograd</p>
	<p>Broj: +3816287214 - UZMITE VAS STAN JOS DANAS!</p>
</div>
<style>
	.kontakt{
		background-color:dimgray;
		border-radius:15px;
		margin:auto;
		color:white;
		margin-top:25px;
		padding:30px;
	}
</style>
