<div class="lokacije">
	<h1>Lokacije</h1>
	<p>Lokacijen nasih ustanova: 
		<br />
		Zemun – Centar
		<br />
		Kej oslobođenja 56
		<br />
		Avijatičarski trg 10
	</p>
</div>
<style>
	.lokacije{
		background-color:dimgray;
		border-radius:15px;
		margin:auto;
		color:white;
		margin-top:25px;
		padding:30px;
	}
</style>
