<div class="filteridiv">
    <form method="get" action="/Home/Index">
        <select name="tip">
            <option value="">Ulica</option>
            <option value="ulica1">Avijatičarski trg</option>
            <option value="ulica2">Kej oslobođenja</option>
            <option value="ulica3">Karađorđev trg</option>
        </select>

        <select name="kvad">
            <option value="">Kvadratura</option>
            <option value="45">45m²</option>
            <option value="55">55m²</option>
            <option value="65">65m²</option>
            <option value="75">75m²</option>
        </select>

        <select name="cena">
            <option value="">Cena</option>
            <option value="1">100.000 € – 115.000 €</option>
            <option value="2">115.000 € – 130.000 €</option>
            <option value="3">130.000 € – 160.000 €</option>
            <option value="4">160.000 € – 200.000 €</option>
        </select>

        <select name="vrsta">
            <option value="">Vrsta Stana</option>
            <option value="smart">Smart Stan</option>
            <option value="obicni">Običan Stan</option>
        </select>

        <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </form>
    <a href="/Home/Index">Logout</a>
</div>



@model List<MVC_Stanovi.Models.Stan>

<div class="filteridiv">
    <a href="/Home/Index">Logout</a>
    <a href="/Home/Dodavanje" id="dodaj">Dodaj Oglas</a>
</div>

<style>
    #dodaj {
        background-color: gray;
        border-radius: 10px;
        color: white;
        font-size: 12px;
        padding: 10px;
        border: none;
        margin: 10px;
        transition: 0.3s;
    }

        #dodaj:hover {
            box-shadow: 0 0 10px 2px gray;
            cursor: pointer;
            transform: scale(1.05);
        }

    .userglavnidiv {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
    }

    .stan {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        width: 250px;
        text-align: center;
    }

        .stan img {
            width: 100%;
            border-radius: 10px;
        }

        .stan button {
            margin-top: 10px;
        }
</style>

<div class="userglavnidiv">

    @foreach (var s in Model)
    {
        <div class="stan">
            <img src="@s.slika" alt="Stan" />

            <p>
                Lokacija: Zemun Beograd <br />
                Površina: @s.kvadratura m² <br />
                Cena: @s.cena € <br />
                Adresa: @s.ulica
            </p>

            <button>3D pregled</button>
        </div>
    }

</div>