html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image:url(../slike/pozadina.png);
  margin-bottom: 60px;
}
header {
    background-color: rgb(64, 60, 60);
    display: flex;
    color: white;
    justify-content:space-evenly
}
.div1header {
    display: flex;
    padding: 10px;
    margin: 10px;
}
    .div1header img{
    margin:5px;
    }
    ul{
        display:flex;
        padding:10px;
        margin-top:20px;

    }
    li{
        margin:10px;
        list-style-type:none;
    }
    a{
        text-decoration:none;
        color:white;
    }
.div3header {
    display: flex;
    padding: 10px;
    margin-top: 25px;
    }
    .div3header button {
        width: 120px;
        height: 35px;
        background-color: darkgray;
        border: 3px medium black;
        margin: 5px;

    }
    .div3header button:hover {
    box-shadow: 0 0 2px 2px gray;
    }

.divfooter {
    background-color: rgb(64, 60, 60);
    padding:10px;
    width:100%;
    position:fixed;
    margin-bottom:0;
    bottom:0;
    color:white;
    display:flex;
    justify-content:center;
}

.filteridiv {
    background-color:gray;
    border-radius:12px;
    padding:6px;
    display:flex;
    justify-content:space-evenly;
    margin:auto;
    margin-top:20px;
}
select {
    background-color: darkgray;
    border: 2px solid dimgray;
    color: white;
    padding: 5px 20px 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

/*.indexdivhlavni {
    background-color: dimgray;
    border-radius: 12px;
    width: 160vh;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    margin: auto;
    margin-top: 40px;
}*/

.prijava {
    background-color:gray;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items:center; 
    height: 50vh; 
    width:50vh;
    margin:auto;
    margin-top:40px;
    border-radius:20px;
}
    .prijava h1{
    margin-bottom:40px;
    color:white;
    }
    .prijava button {
        background-color: rgb(164, 155, 110);
        border-radius: 10px;
        color:white;
        font-size: 20px;
        padding:10px;
        border: none;
        margin: 10px;
        transition: 0.3s;
    }
    .prijava button:hover {
    box-shadow: 0 0 10px 2px darkgray;
    cursor: pointer;
    transform: scale(1.05);
    }
.prijava input {
    margin:auto;
    margin:10px;
    margin-left:30px;
    width: 80%;
    padding: 12px 15px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}
.prijava input:focus {
    border-color: darkgray;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}
#velikiDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.stan {
    border: 1px solid black;
    padding: 10px;
}
#druhilog {
    margin-left: 125px;
}
#druhireg {
    margin-left: 112px;
}
.loginara{
    width:200px;
}
.userglavnidiv{
    background-color:dimgray;
    margin:auto;
    border-radius:15px;
    height:220vh;
    margin-top:22px;

}
.userglavnidiv img{
    width:100%;
    width:300px;
    height:200px;
    margin:20px;
}
.stan {
    max-height: 70vh;
    background-color: darkgrey;
    margin: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
    .stan button {
    margin: 15px;
    margin-bottom:15px;
    }
    .stan img {
    border-radius: 10px;
    }
    .stan p {
    margin:-10px 10px 0px 25px;  
    font-weight:bold;
    }
.iznaddiv {
    display: flex;
    justify-content: space-evenly;
}
.ispoddiv {
    display: flex;
    justify-content: space-evenly;
}
.sredinadiv {
    display: flex;
    justify-content: space-evenly;
}
.stan button {
    margin:15px 0 10px 25px;
    width: 80%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

    .stan button:hover {
        background-color: #555;
        transform: scale(1.05);
    }







