<div class="dodavanje">
	<form asp-action="DodajStan" method="post">
		<input type="text" name="Slika" placeholder="URL slike" />
		<input type="text" name="Opis" placeholder="Opis stana" />
		<button type="submit">Dodaj</button>
	</form>

<div id="velikiDiv">
</div>
</div>
<style>

	.dodavanje{
		background-color: dimgray;
		border-radius: 15px;
		margin: auto;
		color: white;
		margin-top: 25px;
		padding: 30px;
	}
</style>
