<div class="dodavanje">
	
		<input type="text" id="slikaInput" placeholder="URL slike" />
		<input type="text" id="lokacijaInput" placeholder="Lokacija" />
		<input type="text" id="povrsinaInput" placeholder="Površina" />
		<input type="text" id="cenaInput" placeholder="Cena" />
		<input type="text" id="adresaInput" placeholder="Adresa" />

		<button type="button" onclick="dodajStan()">Dodaj</button>
	

<div id="velikiDiv">
</div>
</div>
<style>

	.dodavanje{
		background-color: dimgray;
		border-radius: 15px;
		margin: auto;
		color: white;
		margin-top: 25px;
		padding: 30px;
	}
</style>
