@{
    ViewData["Title"] = "Home Page";
}
  
<div class="filteridiv">
    <select>
        <option value="value">Kupovina/Izdavanje</option>
    </select>    <select>
        <option value="value">Grad</option>
    </select>
    <select>
        <option value="value">Kvadratura</option>
        <option value="value">25m²</option>
        <option value="value">35m²</option>
        <option value="value">45m²</option>

    </select>
    <select>
        <option value="value">Cena</option>
    </select>
    <select>
        <option value="value">Tip Stana</option>
    </select>
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </button>
</div>


<div class="indexdivhlavni">
    <div class="stan1"><img src="#" /></div>
    <div class="stan2"><img src="#" /></div>
    <div class="stan3"><img src="#" /></div>
    <div class="stan4"><img src="#" /></div>
    <div class="stan5"><img src="#" /></div>
    <div class="stan6"><img src="#" /></div>
</div>