@{
    ViewData["Title"] = "Home Page";
}
  



<div class="indexdivhlavni">
    
    <div class="prijava">
        
        <h1>Prijava</h1>

        <form asp-action="Login" asp-controller="Home" method="get">
            <button class="loginara"type="submit">Login</button>
        </form>

        <form asp-action="Register" asp-controller="Home" method="get">
            <button class="loginara" type="submit">Register</button>
        </form>


    

</div>
</div>