@{
    ViewData["Title"] = "Home Page";
}
  



<div class="indexdivhlavni">
    
    <div class="prijava">
        
        <h1>Prijava</h1>

        <form asp-action="Login" asp-controller="Home" method="get">
            <button type="submit">Login</button>
        </form>

        <form asp-action="Register" asp-controller="Home" method="get">
            <button type="submit">Register</button>
        </form>


    <a href="/Home/Logout">Logout</a>

</div>
</div>